<h1>{{ currentChapter }}</h1>
<p>"{{ quote }}"</p>
{{#if movie}}
    <p>- {{ movie }}</p>
{{/if}}
<ul>
    {{#each links}}
        <li><a href="/rabbit-hole/{{ curentUrl }}{{ @index }}">{{ this }}</a></li>
    {{/each}}
</ul>
<a href="/rabbit-hole">Back to the Top</a>
